<!-- PROPERTY BINDING & INTERPOLATION -->

<!-- <h1>Site: {{ url }}</h1>
<h2>Visite o site <a href="{{ url }}">jw.org</a></h2>
<h2>Visite o site <a [href]="url">jw.org</a></h2>
<h2>Operações Matemáticas:  {{ valor1 }} + {{ valor2 }} = {{ valor1 + valor2 }}</h2>
<h2>A conta  {{ valor1 }} + {{ valor2 }} não dá {{ valor1 + valor2 + getValor() }}</h2>
<h2>Isso e isso é {{ getTrueOrFalse() }}</h2> -->



<!-- CLASS & STYLE BINDING -->
<!-- 
<article style="padding: 1rem;">
    <h3>Class & Style Binding</h3>
    <div>
        Selecione uma opção:
        <select class="form-control" style="width: 20%;" #opEscolhida (change)="0">
            <option value="alert-success">Sucesso</option>
            <option value="alert-danger">Danger</option>
            <option value="alert-warning">Warning</option>
            <option value="alert-info">Info</option>
            <option value="alert-dark">Dark</option>
        </select>

        <br><br>


        <br><br>

        <div class="alert" role="alert" [class.alert-success]="opEscolhida.value === 'alert-success'">
            Um simples alerta <strong>success</strong>. Olha só!
        </div>
        <div class="alert" role="alert" [class.alert-danger]="opEscolhida.value == 'alert-danger'">
            Um simples alerta <strong>danger</strong>. Olha só!
        </div>
        <div class="alert" role="alert" [class.alert-warning]="opEscolhida.value == 'alert-warning'">
            Um simples alerta <strong>warning</strong>. Olha só!
        </div>
        <div class="alert" role="alert" [class.alert-info]="opEscolhida.value == 'alert-info'">
            Um simples alerta <strong>info</strong>. Olha só!
        </div>
        <div class="alert" role="alert" [class.alert-dark]="opEscolhida.value == 'alert-dark'">
            Um simples alerta <strong>dark</strong>. Olha só!
        </div>

        <div #erro class="alert alert-danger" role="alert" [style.display]="opEscolhida.value == erro.classList[1] ? 'block' : 'none'">
            Aparece apenas se houver <strong>erro</strong>
        </div>
    </div>
</article> -->





<!-- EVENT BINDING -->

<style>
    .event-binding {
        padding: 1rem;
    }
</style>

<section class="event-binding">
    <article>
        <h3>Event Binding</h3>
        <div>
            <button class="btn btn-primary" (click)="numSalvo(campoInput.value)">Me Clique</button>

            <br><br>

            <input  (keyup)="onKeyUp($event)" 
                    (keyup.enter)="numSalvo(campoInput.value)"
                    (blur)="numSalvo(campoInput.value)"
                    type="text"
                    #campoInput
            >
            <p>Saida: {{ valorAtual }} </p>
            <p>Valor Salvo: {{ valorSalvo }} </p>
            <p>Valor Salvo - Blur: {{ valorSalvo }} </p>

            <br><br>

            <p  (mouseover)="onMouseOverOut()" 
                (mouseout)="onMouseOverOut()"
                [class.highlight]="isMouseOver == true"
            >Passe o mouse aqui</p>
        </div>
    </article>
</section>




<!-- TWO-WAY DATA BINDING -->